body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

.box-canvas{
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 180px;
    height:600px;
}

.fluff {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
}

.fluff-left {
    top: 70px;
}

.fluff-right {
    top: 70px;
    left: 110px;
}

.fluff::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    top: -40px;
  }

.fluff-left::before {
    left: 35px;
}

.fluff-right::before{
    left: -35px;
}

.fluff::after {
    content: '';
    position: absolute;
    top:40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
 
  }

.fluff-left::after {
    left: 35px;
}

.fluff-right::after{
    left: -35px;
}

.head{
    position: absolute;
    background: black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 10%;
    left: 60%;
    transform: translateX(-50%);
}

.head::before{
    content: '';
    position: absolute;
    background: black;
    width: 15px;
    height: 20px;
    border-radius: 50%;
    top: -5px;
    left: 5px;
}


.head::after{
    content: '';
    position: absolute;
    background: black;
    width: 15px;
    height: 20px;
    border-radius: 50%;
    top: -5px;
    right: 5px;
}

.eye{
    position: absolute;
    border: 5px solid white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 18%;
}

.eye-left {
    left: 10px;
 }
 
 .eye-right {
    right: 10px;
 }

 .mouth{
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    clip-path: circle(50% at 50% 0);
 }

 .leg{
     position: absolute;
     background: black;
     width: 16px;
     height: 30px;
     border-radius: 25%;
     top: 34.9%;
 }

 .leg-left {
    left: 38%;
  }
  
  .leg-right {
    right: 21%;
  }