:root {
    --background-color: #FFF7E9;
    --dark-brown: #6D4B27;
    --light-brown: #9E784D;
    --orange: #F0AE1B;
  }
  
  body{
    background: var(--background-color);
  }
  
  .box-canvas{
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 600px;
    background: var(--background-color);
  }
  
  /* wings on either side of body */
  .wings {
    position: absolute;
    top: 150px;
    left: 175px;
    background: var(--dark-brown);
    height: 300px;
    width: 250px;
    border-radius: 50%;
  }
  
  /* Body */
  .wings::before {
    content: '';
    position: absolute;
    left: 25px;
    width: 200px;
    height: 310px;
    background: var(--light-brown);
    border-radius: 50%;
  }
  
  /* White chest detail */
  .wings::after {
    content: '';
    position: absolute;
    background:white;
    width: 150px;
    height: 230px;
    border-radius: 50%;
    left: 50px;
  }
  
  /* Creates outer portion around eyes */
  .eye-section {
    position: absolute;
    top: 80px;
    background: var(--dark-brown);
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }
  
  .left-eye-section {
    left: 185px;
  }
  
  .right-eye-section {
    right: 185px;
  }
  
  /* Creates inner white section for eyes */
  .eye-section::before {
    content: '';
    position: absolute;
    background: white;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    bottom: 7px;
  }
  
  .left-eye-section::before {
    right: -5px;
  }
  
  .right-eye-section::before {
    left: -5px;
  }
  
  /* Iris and pupil */
  .eye {
    position: absolute;
    background: black;
    border: 10px solid var(--orange);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 20px;
  }
  
  .left-eye {
    left: 30px;
  }
  
  .right-eye {
    right: 30px;
  }
  
  /* Reflection detail */
  .eye::before {
    content: '';
    position: absolute;
    background: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    right: 10px;
    top: 5px;
  }
  
  .beak {
    position: absolute;
    left: 275px;
    top: 160px;
    background: var(--orange);
    height: 70px;
    width: 50px;
    clip-path: polygon(50% 120%, 0 0, 100% 0);
    border-radius: 50%;
  }
  
  .head {
    position: absolute;
    left: 185px;
    width: 230px;
    background: var(--dark-brown);
    height: 130px;
  }
  
  .head::before {
    content: '';
    position: absolute;
    left: -10px;
    width: 250px;
    height: 230px;
    border-radius: 50%;
    background: var(--background-color);
    bottom: 50px;
  }
  
  .head::after {
    content: '';
    left: 15px;
    top: 75px;
    z-index: 1;
    position: absolute;
    background: var(--dark-brown);
    width: 200px;
    height: 50px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
  
  .foot {
    position: absolute;
    background: var(--orange);
    height: 40px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid var(--light-brown);
    top: 420px;
  }
  
  .left-foot {
    left: 220px;
  }
  
  .right-foot {
    right: 220px;
  }
  
  .foot::before {
    content: '';
    position: absolute;
    background: var(--orange);
    height: 40px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid var(--light-brown);
  }
  
  .left-foot::before {
     left: 15px;
  }
  
  .right-foot::before {
    right: 15px;
  }
  
  .foot::after {
    content: '';
    position: absolute;
    background: var(--orange);
    height: 40px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid var(--light-brown);
  }
  
  .left-foot::after {
    left: 30px;
  }
  
  .right-foot::after {
    right: 30px;
  }
  