:root{
    --background-color:#ffe066;
    --toast-color:#5abff2;
    --cover-color:#99ddff;

}

body{
    margin: 0;
    padding: 0;
    background: var(--background-color);
}

.box-canvas{
    position: absolute;
    width: 560px;
    height: 560px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.toaster{
    background-color: var(--toast-color);
    height: 190px;
    width: 320px;
    position: relative;
    top: 35%;
    left: 30%;
    border-radius:30px 25px 0 0 ;
}

.cover{
    background-color: var(--cover-color);
    height: 190px;
    width: 320px;
    position: relative;
    border-radius:30px 25px 0 0 ;
    right: 20%;
}

.btn1,.btn2,.btn3{
    position: relative;
    background-color: #737373;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.btn1{
    top: 15%;
    left: 40%;
}

.btn2{
    top: 25%;
    left: 40%;
}

.btn3{
    top: 35%;
    left: 40%;
}

.shine{
    position: relative;
    height: 24px;
    width: 50px;
    background-color: #e6f7ff;
    border-radius: 50%;
    transform: rotate(-30deg);
    left: 2%;
    bottom: 44%;
}

.slot1{
    position: relative;
    background-color: #666666;
    height: 100px;
    width: 10px;
    border-radius: 15px;
    bottom: 141.5px;
    left: 88%;
}

.slot2{
    position: relative;
    background-color: #333333;
    height: 100px;
    width: 10px;
    border-radius: 15px;
    bottom: 242px;
    left: 87%;
}

.handle1{
    position: relative;
    background-color: white;
    width: 40px;
    height: 10px;
    top: 2px;
    animation: 10s move infinite;
}

@keyframes move{
    50%{
        transform: translateY(85px);
    }
}


.handle2{
    position: relative;
    background-color: #666666;
    width: 30px;
    height: 20px;
    bottom: 14px;
    left:30px ;
    border-radius:20px;
    animation: 10s move infinite;
}

.handle3{
    position: relative;
    background-color: #000000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 34px;
    left:40px ;
    animation: 10s move infinite;
}

