* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bg-img {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img::before {
    content: " ";
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1489033929427-bb74601f25e4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

h1 {
    position: relative;
    color: #fff;
    font-size: 5rem;
    line-height: 0.9;
    text-align: center;
}